<header>
<div class="pusherT"></div>
<div class="bulk">
  <div class="title">
    <h1>kelly mcaninch</h1>
  </div>
  <div class="icons">
    <br>
    I break things.
    <br>
    <%= link_to (image_tag("mail2.png", size: 50)), "mailto:kelly@kellymca.com" %>
    <%= link_to (image_tag("linkedin3.png", size: 50)), "https://www.linkedin.com/in/kelly-mcaninch", target: :_blank %>
  </div>
</div>
</header>


