<div class="left">
  <div class="inner-left">
    <h1>A work in progress...</h1>
  </div>
</div>

<div class="right">
  <div class="inner-right">
    <%= image_tag("baby_drago.png") %>
  </div>
</div>
