* {
  margin:0;
}

.left {
  float: left;
  width: 50%;
  background: #DADADA;
  height: 100vh;
  color: #2E2F30;;
}
.right {
  float: right;
  width: 50%;
  background: #2E2F30;
  height: 100vh;
  color: #DADADA;
}
.group:after {
  content:"";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  .left,
  .right {
    float: none;
    width: auto;
    height: 50vh;
  }
}

.inner-left {
  padding: 30px;
  text-align: right;
}

.inner-right {
  padding: 30px;
  text-align: left;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}