.pusherT {
  height: 35vh;
}

.title {
  top: 0;
  background-image: image-url("18.gif");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  background-position: center -145px;
  font-size: 10vh;
  text-align: center;
  font-weight: bold;
}

.bulk {
  background: #333333;
}

.icons {
  text-align: center;
  font-size: 3.5vw;
}

.link {
  height: 100%;
}

body h1 {
  font-size: 10vw;
}

header {
  position: absolute;
  z-index: 8;
  width: 100%;
}

* {
  margin:0;
}

html, body {
  font-family: "Helvetica Neue",  Arial, sans-serif;
  font-size: 15px;
  color: #3a405e;
  background: linear-gradient(to top, #687794, #7096b8, #7fb3d4, #a1cae6);
  background-attachment: fixed;
}